version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: <name>
    restart: unless-stopped
    environment:
      POSTGRES_USER: <user>
      POSTGRES_PASSWORD: <password>
      POSTGRES_DB: db_name
    ports:
      - "5432:5432"
    volumes:
      - <volume>

  valkey:
    image: valkey/valkey:latest
    container_name: <name>
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - <volume>

volumes:
  postgres_data:
  valkey_data:
